/bin/
target/
.idea/
.settings/
.classpath
.project
student-information-system.iml
src/main/webapp/VAADIN/gwt-unitCache
src/main/webapp/VAADIN/widgetsets/com.caritos.student_information_system.widgetset.StudentInformationSystemWidgetSet